#templates {
	display: none;
}
body {
	width: 420px;
	height: 800px;
	border: 1px dotted black;
	padding: 10px;
	font-family: sans-serif;
}
/*NAV BAR--------------------------------*/
/*.nav-bar {
	list-style: none;
}*/

/*.dropdown {
	position: absolute;
	margin-left: 300px;
}*/

/*Attempting to apply meida queries*/

/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
*/
/*ADD CATEGORY BUTTON*/
.add-category-button {
	margin-top: 20px;
	width: 90px;
}

/*ENTER A CATEGORY INPUT*/
.new-category {
	float: left;
	clear: both;
}

/*Enter items form*/
.new-item-form {
	float: left;
	
}

/*ENTER ITEM AND COST INPUT*/
.new-item-title {
	width: 100px;
}

.new-item-cost {
width: 100px;

}

/*USER DATA DISPLAYED*/
#item-tpl {
	border: 1px solid #1919A3;
	margin-top: 20px;
}
.item-title {
	float: left;
	margin-top: 0;
	margin-right: 100px;
}
.item-cost {
	float: left;
	margin-right: 5px;
} 
.remove-btn {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #b2b2b2;
	color: #333333;
	font-weight: bolder;
}


/*}*/